* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavbarHeader {
  padding: 25px 0;
  /* position: sticky; */
  top: 0;
  width: 100%;
  z-index: 1000;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.5); */
}

.Navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navList li {
  color: black;
  cursor: pointer;
  font-size: 20px;
  transition: color 0.3s ease;
}

.navList li:hover {
  color: #fc6462;
}
.search{
    width: 36px;
    height: 36px;
    border-radius: 60%;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
  text-decoration: none;
  color: inherit;
}