/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f4ed;
  }
  
  
  /* Global Styles */
  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    background-color: white;
  }